


.hero-header {
    margin: 0;
    padding-top: 100px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

    &, * {
        cursor: none;
    }

    .cursor {
        position: fixed;
        background: #2128bd;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: -5px 0 0 -5px;
        will-change: transform;
        user-select: none;
        pointer-events: none;
        z-index: 10000;
    }

    .shapes {
        position: relative;
        height: 500px;
        width: 100vw;
        background: #2128bd;
        overflow: hidden;

        .shape {
            will-change: transform;
            position: absolute;
            border-radius: 50%;

            $shapes: (#005ffe: 650px, #e28446: 440px, #1c7cac: 270px);
            
            @each $color, $size in $shapes {
                &.shape-#{index($shapes, ($color $size))} {
                    background: $color;
                    width: $size;
                    height: $size;
                    margin: (-$size/2) 0 0 (-$size/2);
                }
            }
        }
    }

    .content {
        position: absolute;
        top: 56px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 100vw;
        background: #fff;
        mix-blend-mode: screen;

        .landing-title {
            font-size: 10em;
            font-weight: 900;
            color: #000;
            margin: 0;
        }
    }
}